<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Stations</title>
    <script>
        // Function to fetch the current time from the server
        function fetchCurrentTime() {
            fetch('/current-time')
                .then(response => response.json())
                .then(data => {
                    // Update all elements with class 'current-time' with the new time
                    var currentTimeElements = document.querySelectorAll('.current-time');
                    currentTimeElements.forEach(function (elem) {
                        elem.textContent = data.time;
                    });
                })
                .catch(error => console.log('Error fetching current time:', error));
        }

        // Update the time every second
        setInterval(fetchCurrentTime, 1000);

        // Initial fetch on page load
        window.onload = fetchCurrentTime;
    </script>
    <style>.station{
        display: inline-block;
        width: 200px;

        text-align: center;
    }</style>
</head>
<body>
    <h1>Train Stations</h1>
    {% for line, stations in station_info.items() %}
        <h2>{{ line }}</h2>
        <ul>
            {% for station, _ in stations %}
                <li>
                    <span class="current-time">{{ _ }}</span> <div class="station">-{{ station }} -</div>  <span class="current-time">{{ _ }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
